 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-text:#cdc6c3;
    --hover-color:#FFDE59;
    --neon-box-shadow:0 0 .5rem #F3E9B3;
    --index: calc(1vw + 1vh)

}
::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: #000;

}
::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;

}
body{
    font-size: "Outfit",sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

a{
    color: #fff;
}
header{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    padding: 20px 12%;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 22px;
    color: var(--hover-color);
}
.logo img{
    max-width: 100%;
    width: 90px;
    height: auto;
}
header .navlist{
    display: flex;
}
.navlist li{
  
  margin-top: 9%;
  margin-left: 17%;
}
.navlist li .nav-item {
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .2s ease;

}
.navlist li .nav-item:hover:{
  color: var(--hover-color);  
}

.navlist li .nav-item::before{
    content:"" ;
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background: var(--hover-color);
    border-radius: 50%;
    transition: all .3s ease; 
}
.navlist li .nav-item:hover::before{
    width:100%;
}
.right-side{
    display: flex;
    align-items: center;
}

.marbtn{
    background: linear-gradient(180deg , #FFDE59 0 , #cdc6c3 100%);
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    padding: 0 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .3s ease;
    white-space: nowrap;

}
.marbtn :hover{
    background: linear-gradient(180deg, #FFDE59 0 , #cdc6c3 100%) ;
   box-shadow: 0 3px 9px #cdc6c3;
}
@menu-icon{
    color:var(--hover-color);
    font-size: 2.5rem;
    display:none;
}
section{
    padding: 100px 12%;
}
.home-img img.hero{
    max-width: 100%;
    width: 400px;
    height: auto;
    animation: floatImg 2s ease-in-out infinite;

}
.earth-rotate{
    width: 100%;
}
.earth-rotate img.earth{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
    width: calc(var(--index)*45);
    animation: rotate 300s infinite linear;
}
.home{
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
    color: #fff;
    width: 100%;
}
.home-text h1,h2{
    font-size: calc(var(--index)*2);
    margin-bottom: 1rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px #474747;
    margin-top: 10%;
}
.home-text .marsBtn{
    margin-top: 1rem;
    height: 35px;
    line-height: 35px;
}
span{
    color: var(--hover-color);
}
.home-img{
    position: relative;
}
img .moon-light{
    position: absolute;
    left: 0;
    mix-blend-mode: screen;
    width: 90px;
}
.flight-list{
    position: relative;
    
}
.flight-list .container{
    margin-top: 6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.container .flight-box{
   
    width: 200px;
    padding: 2rem 1.5rem 2rem;
    text-align: center;
    background-image: url(cardBg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    z-index: 2;
    margin: 2rem .5rem;

}
.flight-box img{
    width: 120px;
    margin: -4rem auto 0 auto;
    animation: floatImg 6s ease-in-out infinite;
    filter: drop-shadow(0 0 .5rem #1797ff);
    border-radius: 50%;
}
.container .flight-box h2{
    color: var(--hover-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
 .flight-box p{
    color: #fff;
    line-height: 1.5rem;
    font-size: .9rem;

}
.flight-box .marbtn{
    margin-top: 1rem;
    height: 32px;
    line-height: 32px;
    color: #000;
    font-size: .8rem;
    font-weight: 700;
}
.mission-history{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}
.img-mission{
    position: relative;
    width: 600px;

}
.circle-animate{
    position: absolute;
    top: 30%;
    width: 200px;
    height: 200px;
    background: var(--hover-color);
    border-radius:50% ;
    box-shadow: var(--neon-box-shadow);
    text-align: right;
}
.circle-animate span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: inherit;
    border-radius: inherit;
    opacity: .4;
    animation: circleAnimation 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

.img-mission img{
    width: 200px;
    height: auto;
    animation: floatImg 4s ease-in-out infinite;
    

}
.text-mission{
    color: #fff;
    margin-left: 20%;
    margin-top: 10%;
}
.text-mission h3{
    font-size: 2.5rem;
    color: #FFDE59;
    text-shadow: 2px 1px 1px #474747;
}
.text-mission p{
    margin: 1rem auto;
    line-height: 2rem;
   
}
.text-mission .mission-btn a{
    margin-top: 1rem;
    height: 45px;
    line-height: 50px;
}
.experience .text-mission {
    margin-left: 20%;
    margin-top: 0%;
}
.contact {
   
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
  }
  
  .contact h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--hover-color);        

  
  }
  @keyframes back{
    100%{
        background-position: 2000px 0;
    }
  }
  .container-contact {
    width: 100%;
    height: 10%;
    background-color: #000;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

 
  @media only screen and (max-width: 768px) {
    .contact {
       
        padding: 0px !important;
      }
    
      .contact img {
        width: 40% !important;
      }
    
      .contact p {
        font-size: 0.8rem !important;
      }
    
      .contact h6 {
        font-size: 1.1rem !important;
      }
    
      footer {
        font-size: 0.6rem;
    }}
 .adresse{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
 }
.col-md2{
    margin-left: 60%;
    margin-top: -15%;
}
.col1{
    margin-top: 10%;
    display: block;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}
















@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}
















@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(300deg);
    }
   
}
@keyframes floatImg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-14px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes circleAnimation{
    100%{
        opacity: 0;
        transform: scale(2);
    }
}